@use "../base/variables" as v;
@use "../base/mixins" as m;

.footer {
  display: none;
  @include m.desktop { 
    display: block;
    position:absolute;
    bottom: 0;
    padding: 2rem;
    color: v.$darkBlue;
    font-weight: 700;
  &__link {
    text-decoration: none;
    color: v.$red;
  }
}
}